@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Medium.ttf') format('truetype');

}

body {
  font-family: 'Product Sans';
  background-color: #FDFDFD;
  color: #2b2b2b;
  line-height: 1.6;
}

/* =============== NAVBAR =============== */
.navigasi {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  background-color: #FDFDFD;
  border-bottom: 1px solid #e0e0e0;
  z-index: 999;
}

/* Logo dan menu */
.logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo img {
  height: 26px;
}

.logo ul {
  display: flex;
  list-style: none;
  gap: 19px;
}

.logo ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #212121;
  letter-spacing: 0.2px;
  font-weight: medium;
  transition: color 0.2s ease-in-out;
}

.logo ul li a:hover {
  color: #007bff;
}

/* Tombol kanan */
.button-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

button {
  display: flex;
  align-items: center;
  height: 33px;
  gap: 7px;
  font-size: 12px;
  border-radius: 50px;
  padding: 5px 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Masuk button */
.btn-masuk {
  background-color: transparent;
  color: #2b2b2b;
  border: 2px solid #2b2b2b;
  font-family: "Product Sans";
  font-weight: 500;
}

.btn-masuk a {
  text-decoration: none;
  color: #2b2b2b;
}

.btn-masuk:hover {
  background-color: #f5f5f5;
}

/* Kontak Kami button */
.btn-kontak-kami {
  background-color: #2b2b2b;
  color: #FDFDFD;
  border: none;
  gap: 10px;
  font-family: "Product Sans";
  font-weight: 500;
}

.btn-kontak-kami:hover {
  background-color: #444;
}

/* Icon image */
.icon {
  width: 14px;
  height: 14px;
}

/* =============== HERO / BANNER =============== */
.hero-banner {
  background-image: url('/bidcar/img/Banner.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 510px;
  position: relative;
  overflow: hidden;
}

.hero-content a {
  font-size: 15px;
  letter-spacing: 0.6px;
  font-family: 'Product Sans Light';
}

.btn-registrasi {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  margin-left: 7.5rem;
  margin-top: 190px;
  padding: 7px 15px;
  font-size: 15px;
  font-weight: 600;
  color: #2b2b2b;
  background-color: transparent;
  border: 1.5px solid #2b2b2b;
  border-radius: 69px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-registrasi:hover {
  background-color: #d3eff6;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper img {
  width: 28px;
  height: 28px;
}


/* =============== SECTION FITUR =============== */
.about-section {
  display: flex;
  justify-content: left;
  gap: 40px;
  padding: 30px 120px;
}

.about-heading {
  text-align: center;
  /* margin-bottom: 2rem; */
}

.outline-btn {
  border: 1.5px solid #1a1a1a;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 1rem;
  display: inline-block;
}

.outline-btn .highlight {
  color: #4AA3A2;
}

.card-lelang {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.fitur-kartu {
  position: relative;
  width: 350px;
  /* height: 340px; */
}

.fitur-kartu img {
  width: 100%;
  height: 100%;
}

.teks-kartu {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 80%;
  text-align: left;
  color: #333;
}

.teks-kartu h3 {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 1.1;
  letter-spacing: 1px;
  font-family: 'Product Sans Light';
}

.warna-verif {
  color: #FDFDFD;
}

.teks-kartu p {
  font-size: 13px;
  line-height: 1.3;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  letter-spacing: 0.4px;
}


/* =============== FAQ SECTION =============== */
.pusat-bantuan {
  background-image: url('/bidcar/img/Help Center.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-top: 50px;
  height: 590px;
  position: relative;
  overflow: hidden;
}

 .faq-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.text-faq {
  font-size: 14px;
  margin-bottom: 40px;
}

.faq h3 {
  font-size: 16px;
  margin-top: 20px;
  color: #2b2b2b;
}

.faq p {
  font-size: 14px;
  color: #444;
} 

/* =============== Fun Fact =============== */
.fun-fact {
  background-image: url('/bidcar/img/Fun Fact.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-top: -10px;
  height: 210px;
  position: relative;
  overflow: hidden;
}

/* =============== FOOTER =============== */
.bagian-bawah {
  background-color: #2b2b2b;
  color: #FDFDFD;
  padding: 40px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.isi-footer p {
  font-family: 'Product Sans Light';
  letter-spacing: 0.5px;
  margin-bottom: 18px;
  line-height: 20px;
}

.icon-footer {
  height: 50px;
  margin-bottom: 10px;
}

.icon-sosmed,
.icon-fb,
.icon-wa {
  width: 20px;
  margin-right: 4px;
}

.hub h3 {
  font-family: 'Product Sans';
  font-size: 28px;
  font-weight: 400;
}

.hub p {
  font-family: 'Product Sans Light';
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-top: -5px;
  margin-bottom: 10px;
  color: #DEDEDE;
}

.kontak-item {
  display: flex;
  align-items: center;
}

.kontak-item img {
  width: 16px;
  margin-right: 8px;
}

.kontak-item span {
  font-family: 'Product Sans Light';
  font-size: 16px;
  letter-spacing: 0.3px;
}
